:root{
    --hoverBoja: rgb(245, 245, 255);
    --glavnaBoja: rgb(113, 113, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 110px;
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 100%;
    box-shadow: 0 10px 5px white;
}
.header div{
    display: flex;
}
.header h1{
    padding: 50px;
}
.header img{
    width: 200px;
    height: 110px;
}

.btns{
    height: 100%;
    width: 200px;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    color: rgb(113, 113, 255);
}
.btns:hover{
    background-color: var(--hoverBoja);
    box-shadow: 0 10px 5px var(--glavnaBoja);
}

.main{
    background-image: url(Sliki/ohrid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(5px);

    height: 950px;
}
.main:hover{
    filter: none;
}

.main-info{
    filter: none;
    position: absolute;
    background-color: white;
    width: 70%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px var(--hoverBoja);
    display: flex;
    justify-content: space-between;
    color: var(--glavnaBoja);
}

.destinacii{
    width: 30%;
    border-right: 1px solid var(--glavnaBoja);
}
.destinacii h1{
    padding-top: 10px;
    padding-left: 20px;
}
.destinacii ul{
    padding-top: 10px;
    padding-left: 60px;
}
.destinacii li{
    padding-top: 10px;
    color: black;
}
.destinacii li button{
    font-size: 30px;
    background-color: transparent;
    border: none;
    color: var(--glavnaBoja);
    padding: 5px;
}
.destinacii li button:hover{
    background-color: var(--glavnaBoja);
    color: white;
}

#karti{
    width: 70%;
    text-align: center;
}
#karti h1{
    margin-top: 10px;
}
#karti button{
    margin-top: 20px;
    font-size: 30px;
    background-color: transparent;
    color: var(--glavnaBoja);
    border: none;
    padding: 5px;
}
#karti button:hover{
    background-color: var(--glavnaBoja);
    color: white;
}

#karti-info{
    margin-top: 20px;
    height: 100%;
}

.karta-cena{
    visibility: hidden;
}

#buy{
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--glavnaBoja);
    color: white;
    width: 35%;
    height: 50%;
}
#buy h1{
    margin: 20px;
}
#buy h1 input{
   font-size: 20px;
}

#buy-exit{
    background-color: var(--glavnaBoja);
    color: white;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
#buy-exit:hover, #buy-plati:hover{
    background-color: white;
    color: var(--glavnaBoja);
}

#buy-plati{
    background-color: var(--glavnaBoja);
    color: white;
    border: none;
    padding: 5px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

#exit{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: rgb(113, 113, 255);
    border: none;
    font-size: 100px;
    padding: 20px;
}
#exit:hover{
    background-color: rgb(113, 113, 255);
    color: white;
}

.sve{
    background-color: var(--glavnaBoja);
}

.aktivni-avtobusi{
    position: absolute;
    background-color: var(--glavnaBoja);
    width: 100%;
    height: 50%;
    box-shadow: 0 -10px 5px var(--glavnaBoja);
}

.ponudipopusti{
    position: absolute;
    left: 40%;
}

.vozaci{
    position: absolute;
    left: 80%;
}

.itbus{
    top: 120%;
    position: absolute;
    left: 0%;
}

.sledete{
    top: 120%;
    position: absolute;
    left: 40%;
}

.zanass{
    top: 120%;
    position: absolute;
    left: 80%;
}